.porthead{
    margin-top: 40px;
}
.headport1{
    font-size: 44px;
}
.ppoet{
   position: relative;
   top: 30px;
  margin-left: 30px;
   font-size: 17px;
}
.img1ofport{
    display: flex;
    gap: 300px;
   margin-left: 100px;

}
.img10{
    height: 400px;
    width: 450px;
}
.img9{
    height: 350px;
    width: 350px;
}
.portdiv{
    background-color: #f7f7f7;
    margin-top: 100px;
    height: 1700px;
}
.img10:hover{
    background-color: gray;
    color: gray;
    transform: scale(1.1);
    transition: 1.1s;
}
.img14{
    width: 1255px;
   
}
.img15{
    width: 1255px;
    position: relative;
    bottom:10px;
}