.porthead{
    margin-top: 40px;
}
.headport1{
    font-size: 44px;
}
.ppoet{
   position: relative;
   top: 30px;
  margin-left: 30px;
   font-size: 17px;
}
.img1ofport{
    display: flex;
    gap: 300px;
   margin-left: 100px;

}
.img7{
    height: 400px;
    width: 450px;
}
.img8{
    height: 350px;
    width: 350px;
}
.portdiv{
    background-color: #f7f7f7;
    margin-top: 100px;
    height: 1700px;
}
.hover1:hover{
    background-color: #f7f7f7;
    color: #f7f7f7;
}