*{
    margin: 0px;
   
}
.imgnav{
    height: 65px;
    width: 170px;
    display: inline;
    position: relative;
    right: 40px;
    top: 20px;
}
nav{
    background-color:#f7f7f7 ;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    height: 100px;
    position: sticky;
    top: 0px;
    z-index: 1000;
   
}
.navol{
    display: inline;
    display: flex;
    gap: 60px;
    text-decoration: none;
    list-style-type: none;
    position: relative;
    top: 40px;
    right: 80px;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* .navdiv:hover{
    color: #22a1da;
    transform: scale(1.1);
    transition: 1.1s;
} */

.navdiv{
    transform: scale(1.1);
    transition: 1.1s;
}
a{
    text-decoration: none;
    color: #22a1da;
}
.buttonnav{
background-color:#22a1da;
color: white;
border: none;
padding: 10px 20px;
border-radius: 20px;
height: 35px;
position: relative;
top: 40px;
left: 100px;
display: flex;
justify-content: center;
text-align: center;
}
.navdiv{
    display: flex;
}
.navdiv2{
    border-bottom: 20px solid #0796d6;
    box-shadow: 2px 2px 8px 1px #0796d6;
    
}